div Hello, this is the index/show view of the "candl" rails engine gem.

div You should not see this page. The calendar is supposed to be integrated via a partial (_frame.slim) wich will then render the calendar view inside of the host-apps page.