<div>You should see the calendar rendered below:</div>

<%= render partial: 'candle/calendar/frame', locals: { calendar_id: "grhnk1uaotql6gv2dkf9ldmqjc@group.calendar.google.com", api_key: "AIzaSyD1UIlX0n4-DnY3hSoTkeTZFbbsNO2g67E" } %>
