div This is the view in your host app where you include the partial that renders the calendar.
div You should see the calendar rendered below:

- config = HashWithIndifferentAccess.new(YAML.load_file(Rails.root.join('config/candl_credentials.yml'))) rescue nil
- if config.present?
  = render partial: 'candl/calendar/frame', locals: { config: config }
- else
  p Please add a <i>spec/dummy/config/candl_crendentials.yml</i>. See documentation.
